# Ignore everything
*

# But not these files...
!*.c
!*.h
!.gitignore
!/cmu_labs/data/*
!/cmu_labs/bomb/*
!/cmu_labs/attack/*

# ...even if they are in subdirectories
!*/

# but still ignore these...
/cmu_labs/datalab-handout/btest
