# Ignore everything
*

# But not these files...
!*.c
!*.h
!.gitignore
!/csapp3/cmu_labs/data/*
!/csapp3/cmu_labs/bomb/*
!/csapp3/cmu_labs/attack/*
!/csapp3/cmu_labs/architecture/sim/pipe/ncopy.ys
!/csapp3/cmu_labs/architecture/sim/pipe/pipe-full.hcl
!/csapp3/cmu_labs/architecture/sim/pipe/benchmarks
!/csapp3/cmu_labs/architecture/part*/*


# ...even if they are in subdirectories
!*/

# but still ignore these...
/csapp3/cmu_labs/architecture/sim/*/*.c
/csapp3/cmu_labs/architecture/sim/*/*.h
/csapp3/cmu_labs/cache/*.c
/csapp3/cmu_labs/cache/*.h
/csapp3/cmu_labs/shell/*.c

# except for these...
!/csapp3/cmu_labs/cache/csim.c
!/csapp3/cmu_labs/cache/trans.c
!/csapp3/cmu_labs/shell/tsh.c
