# Ignore everything
*

# But not these files...
!*.c
!*.h
!*.html
!*.css
!*.js
!.gitignore
!/csapp3/cmu_labs/data/*
!/csapp3/cmu_labs/bomb/*
!/csapp3/cmu_labs/attack/*
!/csapp3/cmu_labs/architecture/sim/pipe/ncopy.ys
!/csapp3/cmu_labs/architecture/sim/pipe/pipe-full.hcl
!/csapp3/cmu_labs/architecture/sim/pipe/benchmarks
!/csapp3/cmu_labs/architecture/part*/*
!/csapp3/cmu_labs/proxy/*
!/csapp3/cmu_labs/proxy/tiny/*
!/csapp3/cmu_labs/proxy/tiny/cgi-bin/*


# ...even if they are in subdirectories
!*/

# but still ignore these...
test.c
/csapp3/cmu_labs/architecture/sim/*/*.c
/csapp3/cmu_labs/architecture/sim/*/*.h
/csapp3/cmu_labs/cache/*.c
/csapp3/cmu_labs/cache/*.h
/csapp3/cmu_labs/shell/*.c
/csapp3/cmu_labs/malloc/*.c
/csapp3/cmu_labs/malloc/*.h

# except for these...
!/csapp3/cmu_labs/cache/csim.c
!/csapp3/cmu_labs/cache/trans.c
!/csapp3/cmu_labs/shell/tsh.c
!/csapp3/cmu_labs/shell/test.sh
!/csapp3/cmu_labs/malloc/mm.c
!/csapp3/cmu_labs/malloc/traces/*
